@{
    ViewBag.Title = "Home Page";
}

<body style="background-image: url('~/images/book1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <!-- Your view content goes here -->
   
    <h1>Welcome to Library</h1>
</body>
